<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School_Management_System"
        tools:targetApi="31">

        <activity
            android:name=".Login_Activity"
            android:exported="false" />

        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" />
        <activity android:name=".StudentNavigationActivity" android:exported="false" />
        <activity android:name=".StudentRoomMapActivity" android:exported="false" />
        <activity android:name=".StudentRoomsListActivity" android:exported="false" />
        <activity android:name=".RoomDetailsActivity" android:exported="false" />
        <activity android:name=".StudentInstructorsListActivity" android:exported="false" />
        <activity android:name=".StudentEditProfileActivity" />
        <activity android:name=".StudentProfileActivity" android:exported="false" />
        <activity android:name=".StudentResetPasswordActivity" android:exported="false" />
        <activity android:name=".StudentNavigationListActivity" android:exported="false" />
        <activity android:name=".AdminManageInstructorsActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".NavSettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".TeacherRoomsActivity" android:exported="false" />
        <activity android:name=".TeacherUpdatesActivity" android:exported="false" />
        <activity android:name=".TeacherAssignedRoomsActivity" android:exported="false" />
        <activity android:name=".TeacherARNavigationActivity" android:exported="false" />
        <activity android:name=".GuestDashboardActivity" android:exported="false" />
        <activity android:name=".GuestUpdatesActivity" android:exported="false" />
        <activity android:name=".AdminReportsActivity" android:exported="false" />
        <activity android:name=".AdminManageRoomsActivity" android:exported="false" />
        <activity android:name=".AdminUserListActivity" android:exported="false" />
        <activity android:name=".AdminReportDetailActivity" android:exported="false" />
        <activity android:name=".ReportIssueActivity" android:exported="false" />
        <activity android:name=".AdminRoomMapActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>